#chat-div {
    margin: 0;
    font-family: sans-serif;
}

#chat-message-form {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0.25rem;
    input {
        border: 0;
        padding: 0.5rem;
        width: 100%;
        outline: 0;
        margin-right: 0.5rem;
        border-radius: 0.25rem;
        background: #ccc;
    }
    button {
        width: 6rem;
        background-color: #1a8900;
        color: white;
        border: none;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.25rem;
        text-transform: uppercase;
    }
    button:hover {
        background-color: #166d01;
    }
}

#chat-messages {
    margin: 0;
    padding: 0;
    margin-bottom: 3rem;
    li {
        padding: 0.5rem;
    }
    li.admin-message{
        color: #6c6c6c;
    }
    li:nth-child(odd) {
        background: #eee;
    }
}