#create-group {
   min-height: 70vh;

   &-container {
      display: flex;
      width: 80%;
      max-height: 60%;
      margin: 4rem auto;
      margin-bottom: 4rem;
      box-shadow: 2px 2px 2px 2px;
      #setting-input1 {
         margin-top: 0.5rem;
         margin-bottom: 0.5rem;
      }

      #form1 {
         flex: 1;
         min-height: 100%;
         img {
            width: 95%;
            height: 20rem;
            box-shadow: 2px 2px;
         }
      }
   }

   &-profile {
      flex: 1;
      text-align: center;
      img {
         max-width: 95%;
         max-height: 80%;
         box-shadow: 2px 2px;
      }
      button {
         margin-top: 2rem;
      }
   }

   &-form {
      flex: 1.1;
      text-align: center;
      margin-left: 1rem;

      label {
         display: block;
      }

      .single-input {
         margin: 1rem auto;

         input {
            width: 95%;
            box-shadow: -1px -1px;
         }
      }

      p {
         margin-bottom: 0;
         font-size: large;
         text-align: center;
      }

      .energy-bar {
         width: 7rem;
      }

      div {
         .title {
            float: left;
         }
         .red-message, .green-message {
            float: right;
         }
         .red-message {
            color: red;
         }
         .green-message {
            color: green;
         }
         input.error {
            border-color: red;
            box-shadow: none;
         }
      }
   }

   #group-limitations {
      display: flex;

      #age-limitations {
         flex: 1;
         display: flex;
         text-align: center;
         justify-content: space-between;

         input {
            width: 3rem;
         }

         #p1 {
            display: inline-block;
            text-align: center;
         }
         #p2 {
            display: inline-block;
            text-align: center;
         }
      }
      #gender-limitations {
         flex: 1;
         text-align: center;
      }
      #number-limitations {
         flex: 1;
         text-align: center;
         input {
            width: 5rem;
         }
      }
   }

   #group-form-btn {
      margin-top: 4rem;
      margin-bottom: 1rem;
      width: 90%;
   }
}
