#to-scroll {
   height: 100vh;
}

#explore-gallery {
   margin-top: 2rem;
   margin-bottom: 3rem;
   min-height: 100vh;
   max-width: 1920px;
   box-sizing: border-box;
   display: flex;
   overflow: scroll;

   &-sidebar {
      border-radius: 20px;
      margin-left: 0.5rem;
      box-shadow: 1px 1px 1px 1px;
      background-color: rgba(119, 28, 122, 0.5);
      flex: 0.6;
      min-height: 100vh;
      overflow: scroll;

      &-profile {
         color: $pro_medium_purple;
         &-header {
            text-align: center;
            box-shadow: 1px 1px;
            background-color: $pro_light_green;

            img {
               border-radius: 20px;
            }
            p {
               margin: 0.5rem auto;
               color: $pro_light_purple;
            }
            border-bottom: 3px $pro_medium_purple solid;
         }
      }

      &-usergroup {
         text-align: center;
         color: wheat;
         background-color: rgba(119, 28, 122, 0.3);
         border-bottom: 3px $pro_medium_purple solid;
         .standard-btn {
            margin-bottom: 1rem;
            color: wheat;
         }
      }

      &-usergroups {
         text-align: center;
         color: wheat;
         background-color: rgba(119, 28, 122, 0.3);
         border-bottom: 3px $pro_medium_purple solid;
      }

      &-groups-list {
         text-align: center;
         background-color: rgba(119, 28, 122, 0.3);
         border-bottom: 3px $pro_medium_purple solid;
      }
   }

   &-showcase {
      flex: 2;
      box-shadow: 2px 2px 2px 2px;
      margin-left: 1rem;
      margin-right: 0.5rem;
   }

   &-heading {
      text-align: center;
      .energy-bar {
         width: 70%;
      }
   }
}

.click-to-reveal {
   width: 100%;
   background-color: transparent;
   border: none;
   &:hover {
      background-color: $pro_medium_green;
   }
}
