.navigation-bar {
   min-height: 10vh;
   background-color: $pro_medium_purple;
   display: flex;
}

#navbar-logo {
   flex: 0.5;
   margin: auto auto;
   margin-left: 2rem;
   img {
      height: 40px;
      width: 40px;
   }
}

#navbar-search {
   flex: 1;
   margin: auto auto;

   input {
      border-radius: 10px;
      margin: auto 1rem;
      width: 15.6rem;
      border: $pro_light_pink 2px solid;
   }

   button {
      border-radius: 7px;
      width: 7rem;

      &:hover {
         background-color: $pro_light_pink;
         color: $pro_light_purple;
         transform: scale(1.1);
         transition: transform 0.79s;
      }
   }
}

.standard-btn {
   background-color: #28bb94;
   border-radius: 7px;
   color: #5e2269;
   box-shadow: 2px 2px;
   &:hover {
      background-color: $pro_light_pink;
      color: $pro_light_purple;
      transform: scale(1.05);
      transition: transform 0.79s;
   }
}

#navbar-link {
   flex: 1;
   margin: auto auto;

   ul {
      display: flex;
      margin: auto auto;
      li {
         flex: 1;
         margin: auto 0.5rem;
         text-align: center;

         a {
            color: $pro_medium_green;
            text-decoration: none;
         }
      }
   }
   &-profile {
      display: flex;
      
      #div1 {
         flex: 1;
         text-align: center;
         width: 3rem;
      }

      #div2 {
         flex: 1;
         display: flex;
         div {
            flex: 1;
            text-align: center;
            a {
               padding-top: auto;
            }
         }
      }
      p {
         display: inline;
         color: $pro_light_green;
         margin: auto 1rem;
      }
      img {
         width: 30px;
         height: 30px;
         border-radius: 50%;
      }
      a {
         flex: 1;
         padding: auto;
         padding-left: 0;
         color: $pro_light_green;
      }
   }
}

#logout-pupup {
   position: absolute;
   top: 7vh;
   right: 1rem;
   z-index: 2;
   background-color: $pro_light_green;
   border-radius: 10px;
   opacity: 0;
   transition: opacity 0.3s linear;

   p {
      color: $pro_light_purple;
   }

   &-btns {
      display: flex;
      &-y {
         flex: 1;
         button {
            color: $pro_medium_purple;
            width: 3rem;
            border-radius: 7px;
            background-color: transparent;
         }
      }
      &-n {
         flex: 1;
         button {
            color: $pro_medium_purple;
            width: 3rem;
            border-radius: 7px;
         }
      }
   }
}

.current {
   color: red;
}
