#search-results {
   min-height: 70vh;
   display: flex;
   margin-top: 3rem;

   #search-results-user {
      flex: 1;
      img {
         // height: 15rem;
         width: 10rem;
      }
      text-align: center;
   }

   #search-results-group {
      flex: 1;
      text-align: center;
      img {
         // height: 10rem;
         width: 10rem;
      }
   }
}

a {
   color: #0072ee;
}
