.outerBox{
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.6), 0px 2px 10px rgba(0, 0, 0, 0.6);
    display: block;
  }
  
  .vertical{
    display: block;
  }
  
  .submit-button{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .createNewAccount{
    text-align: center;
  }
  
  .alreadyHaveAccount{
    text-align: center;
  }