#profileShow-container {
   margin: 3rem auto;
   padding: 3rem auto;
   border: 3px dashed $pro_light_purple;
   text-align: center;
}

#profileShow-img {
   height: 40vh;
   img {
      // change only height so it can be zoomed properly!!!!
      border-radius: 20px;
      box-shadow: 2px 2px 2px 2px;
      height: 17rem;
   }
}

#profileShow-info {
   min-height: 30vh;
   width: 70%;
   margin-left: auto;
   margin-right: auto;
}
