@import "./variables.scss";
@import "./modules/landing";
@import "./modules/navigation";
@import "./modules/explore";
@import "./modules/gallery";
@import "./modules/userprofile";
@import "./modules/creategroup";
@import "./modules/groupprofile";
@import "./modules/signup";
@import "./modules/login";
@import "./modules/userprofileshow";
@import "./modules/searchresults";
@import "./modules/chat";

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   list-style: none;
}
